/*
3DHOP - 3D Heritage Online Presenter
Copyright (c) 2014-2019, Visual Computing Lab, ISTI - CNR
All rights reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/*HELP PANEL*/
#cover{ display:none; position:fixed; z-index:20; width:100%; height:100%; top:0; left:0; padding-bottom:20px; background-color:rgba(50, 50, 50, 0.5); }

.panel { display:none; width:550px; font-size:80%; font-family:verdana; font-style:italic; color:#f8f8f8; text-align:center; background-color:rgba(50, 50, 50, 0.97); border:2px solid #f8f8f8; border-radius:10px;box-shadow:1px 1px 10px #f8f8f8;-webkit-box-shadow:1px 1px 10px #f8f8f8;-moz-box-shadow:1px 1px 10px #f8f8f8;cursor:default; text-decoration:none; -webkit-user-select:none; -webkit-touch-callout:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; touch-action:none; -ms-touch-action:none; }

.close, .close_on { position:relative; margin-left:99%; margin-top:-25px;width:25px; height:25px;background-color:#323232; border:2px solid #f8f8f8; border-radius:50%; box-shadow:1px -1px 10px #f8f8f8;-webkit-box-shadow:1px -1px 10px #f8f8f8;-moz-box-shadow:1px -1px 10px #f8f8f8;-webkit-user-select:none; -webkit-touch-callout:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; touch-action:none; -ms-touch-action:none; }

.close, .close_on, :hover { cursor:pointer; }