/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * *           F I X E D             * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    text-align: justify;
}

.images_sources{
    display: none;
}


.static_section,
.scrolly_section,
.animation_section{
    clear: both;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.static_section > *,
.scrolly_section > *,
.animation_section > *{
    /* padding-right: 1%;
    padding-left: 1%; */
}

.photography_section {
    clear: both;
    height: 200%;  
    background-attachment: fixed;
}

.section_revealing_pin
{
    opacity: 0; 
    -webkit-transform: scale(0.9); 
    -moz-transform: scale(0.9); 
    -ms-transform: scale(0.9); 
    -o-transform: scale(0.9); 
    transform: scale(0.9); 
    -webkit-transition: all 1s ease-in-out; 
    -moz-transition: all 1s ease-in-out; 
    -ms-transition: all 1s ease-in-out; 
    -o-transition: all 1s ease-in-out; 
    transition: all 1s ease-in-out;
}

.section_revealing_pin.visible
{
    opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.parallaxParent {
    height: 100vh;
    overflow: hidden;
}
.parallaxParent > * {
    height: 200%;
    position: relative;
    top: -100%;
}

.ending_parallax_section{
    clear: both;
    text-align: center;
    padding: 15%;
}

.visible_anchor_point {
    display: inline;
}

.not_visible_anchor_point {
    display: none;
}

.visible_placeholder_li {
    display: inline;
    background-color: rgba(242, 242, 242, 0.5);
}

.not_visible_placeholder_li {
    display: none;
}

#placeholder_entry > a {
    color: black; 
    font-size: 24px; /* 1.5em */
    /* text-decoration: none; */
}

.not_visible_steps_section_pinnning_element{
    display: none;
}

.visible_steps_section_pinnning_element{
    display: block;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */