body {
    background-color: rgba(0, 153, 0, 0.2)
}

.sas_class {
    font-weight: bold;
    font-style: italic;
}

.htlm_tags {
    font-family: 'Courier New', Courier, monospace;
}

.sas_italic {
    font-style: italic;
}

.sas_bold {
    font-weight: bolder;
}

.lorem_ipsum{
    font-style: italic;
    color: gray;
    font-size: 1em;
}

h1{
    padding-bottom: 1%;
}

p, li {
    font-size: 1.1em;
}

.list > * {
    padding: 0.5%;
}

.list {
    margin-left: 5%;
}

.sas_trigger{
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    color: gray;
}

.indent{
    padding-left: 2%;
}
